* {
 font-family:sans-serif;
}

body {
  background-color: #252525;
  opacity: 1;
  background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.form-container {
  height:400px;
  width:350px;
  background: rgba( 255, 255, 255, 0.25 );

  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  top:50%;
  left:50%;
  position:absolute;
  transform: translate(-50%,-50%);
  box-sizing:border-box;
  text-align:center;
  display:flex;
}
.icon-container {
  position:absolute;
  text-align:center;
  left:39px;
  top:-90px;
}
#icon {
  width: 225px;
  height: 225px;
  border-radius:100%;
}
input[type=text],input[type=password]{
  outline:none;
  border:none;
  color:white;
  font-size:20px;
  padding:5px;

  background: #252525;

  border-radius: 10px;

}
input[type=text]{
  margin-top:150px;
}
input[type=password]{
  margin-top:5px;
}
.form-container div {
 text-align:left;
 margin-left:20px;
}
.form-container div a{
 text-decoration:none;
 padding:5px;
 text-decoration:none;
 background: linear-gradient(to right,black,black 50%, white 50%);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-size: 200% 100%;
 background-position: 100%;
 transition: background-position 275ms ease;
 text-decoration: none; // text decorations are clipped in WebKit browsers;
}
.form-container div a:hover {
    background-position: 0 100%;
  }
button {
  margin-top:25px;
  padding:2.5px 5px;
  border-radius:10px;
  width:200px;
  font-size:20px;

  border:none;
  text-align:center;
  display:inline-block;
  transition-duration:0.4s;
  cursor:pointer;

  background: rgba( 0, 0, 0, 0.75 );
  color:white;
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter:
  blur( 0px );
  border: none;

}
button:hover {
  background-color: white;
  color:black;
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter:
  blur( 0px );
  border: 4px solid rgba( 0, 0, 0, 0.75 );
}
