/*title text form*/
.title-container-form {
  position: absolute;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: var(--fuenteHeading);
  top:-80px;

}
.title-container-form .title {
  width: 100%;
  color:white;
  font-size: 45px;
  text-shadow: black 3px 5px 2px, 40px 28px 20px rgba(0,0,0,0);
  font-weight: 750;
  padding:0;
  margin:0;
}
/*form*/
.form-container {
  height:500px;
  width:350px;
  background: rgba( 255, 255, 255, 0.25 );

  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  top:70%;
  left:50%;
  position:absolute;
  transform: translate(-50%,-50%);
  box-sizing:border-box;
  text-align:center;
  display:flex;
}
div h2 {
  margin-top: 70px;
  color: white;
}
/*inputs*/
input[type=text],input[type=email],input[type=password]{
  outline:none;
  border:none;
  color:white;
  font-size:20px;
  padding:5px;

  background: #252525;

  border-radius: 10px;

}
input[type=text]{
  margin-top:5px;
}
input[type=email]{
  margin-top:5px;
}
input[type=password]{
  margin-top:5px;
  margin-bottom: 150px;
}
input[type=file]{
  outline:none;
  border:none;
  color:white;
  font-size:20px;
  padding:5px;

  background: #252525;
  margin-top: 5px;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 100px;
}
button {
  margin-top:25px;
  padding:2.5px 5px;
  border-radius:10px;
  width:200px;
  font-size:20px;

  border:none;
  text-align:center;
  display:inline-block;
  transition-duration:0.4s;
  cursor:pointer;

  background: rgba( 0, 0, 0, 0.75 );
  color:white;
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter:
  blur( 0px );
  border: none;

}
button:hover {
  background-color: white;
  color:black;
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter:
  blur( 0px );
  border: 4px solid rgba( 0, 0, 0, 0.75 );
}
/*cards*/
.title-container-table {
  position: absolute;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: var(--fuenteHeading);
  top:-80px;
  left: 448.5px;
  width: 448.5px;
}
.title-container-table .title {
  display:absolute;
  width: 100%;
  color:white;
  font-size: 45px;
  text-shadow: black 3px 5px 2px, 40px 28px 20px rgba(0,0,0,0);
  font-weight: 750;
  padding:0;
  margin:0;

}
.table {
  position: absolute;
  display: flex;
  margin-top: 700px;
  width: auto;

}
.card {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 20px;
}
.card .face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}
.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card .front img {

    width: 100%;
    height: 100%;
    object-fit:cover;
}
.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0,0,0,.4);
    text-align: center;
}
.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p {
    letter-spacing: 1px;
}
.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
.box {
  text-align: center;

}
@media(max-width:991px){
 .general-container {
 margin-top:-50px;
 }
}
/*radio button*/
form label {
  font-size: 20px;
  width: 305px;
}
.radio {
  position: absolute;
  margin-top: 130px;
  top:180px;
  text-align: left;
  color:white;
  left:25px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #252525;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
