/*title text form*/
.title-container-form {
  position: absolute;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: var(--fuenteHeading);
  top:-80px;

}
.title-container-form .title {
  width: 100%;
  color:white;
  font-size: 45px;
  text-shadow: black 3px 5px 2px, 40px 28px 20px rgba(0,0,0,0);
  font-weight: 750;
  padding:0;
  margin:0;
}
/*form*/
.form-container {
  height:400px;
  width:350px;
  background: rgba( 255, 255, 255, 0.25 );

  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  top:60%;
  left:50%;
  position:absolute;
  transform: translate(-50%,-50%);
  box-sizing:border-box;
  text-align:center;
  display:flex;
}
/*inputs*/
input[type=text],input[type=email],input[type=password]{
  outline:none;
  border:none;
  color:white;
  font-size:20px;
  padding:5px;

  background: #252525;

  border-radius: 10px;

}
input[type=text]{
  margin-top:50px;
}
input[type=email]{
  margin-top:5px;
}
input[type=password]{
  margin-top:5px;
  margin-bottom: 150px;
}
button {
  margin-top:25px;
  padding:2.5px 5px;
  border-radius:10px;
  width:200px;
  font-size:20px;

  border:none;
  text-align:center;
  display:inline-block;
  transition-duration:0.4s;
  cursor:pointer;

  background: rgba( 0, 0, 0, 0.75 );
  color:white;
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter:
  blur( 0px );
  border: none;

}
button:hover {
  background-color: white;
  color:black;
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter:
  blur( 0px );
  border: 4px solid rgba( 0, 0, 0, 0.75 );
}
/*radio button*/
form label {
  font-size: 20px;
  width: 305px;
}
.radio {
  position: absolute;
  top:180px;
  text-align: left;
  color:white;
  left:25px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #252525;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
